.button{
    font-weight: 700;
    color: white;
    background-color: var(--primary-color);
    margin: 1rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 1rem 7rem;
    box-shadow: 0px 1rem 2rem rgba(255, 155, 78, 0.24);
    border-radius: 0.5rem;
}

.button:hover{
    background-color: var(--secondary-color);
}