.container{
    display: flex;
    flex-direction: column;
    width: 100%;
}
.text{
    font-weight: 700;
    font-size: 1.2rem;
    padding: 0.5rem 1rem;
}
.image{
    display: flex;
    justify-content: center;
    padding: 0.5rem 1rem;
}
.textSpan{
    color: var(--primary-color);
}
.textSmall{
    font-weight: 400;
    text-align: center;
    padding: 1rem;
}
.textSmallSecondary{
    color: var(--secondary-color);
}
