.container{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    margin-top: 1rem;
}
.text{
    padding:0 1rem;
    font-weight: 400;
}
.textH1{
    font-size: 1.75rem;
    padding:1rem 1rem;
    font-weight: 800;
}

@media only screen and (min-width: 992px) {
    .container{
        justify-content: center;
        align-items: center;
        margin: 0 auto;
        margin-top: 3rem;
    }
    .text{
        text-align: center;
    }
}