.container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    background-color: var(--secondary-color);
}
.text{
    font-size: 15px;
    font-weight: 400;
    color: white;
}
.span{
    font-weight: 600;
}