.container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: var(--secondary-color);
}
.text{
    margin-left: 1rem;
    font-size: 1rem;
    font-weight: 400;
    color: white;
}
.span{
    font-weight: 600;
}