.container{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
}
.text{
    padding:1rem 0 0.5rem 1rem;
    font-weight: 400;
}
.textH1{
    font-size: 28px;
    padding:0 1rem;
    font-weight: 800;
}